{% extends 'base.html.twig' %}

{% block body %}
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script>
        (document).ready(function() {
            var tareasPorPrioridad = {{ tasks |json_encode|raw }};
            ('#calendar').fullCalendar({
                eventRender: function(event, element, view) {
                    element.css('background-color', coloresPorPrioridad[event.prioridad]);
                },
                events: function(start, end, timezone, callback) {
                    var events = [];
                    for (var prioridad in tareasPorPrioridad) {
                        for (var i = 0; i < tareasPorPrioridad[prioridad].length; i++) {
                            var tarea = tareasPorPrioridad[prioridad][i];
                            events.push({
                                title: tarea.nombre,
                                start: tarea.fecha,
                                color: prioridad,
                            });
                        }
                    }
                    callback(events);
                },
            });
        });
    </script>
{% endblock %}